# Node.js dependensiyalarini saqlash joyi
node_modules/

# Lokal konfiquratsiya fayllari (masalan, .env)
.env

# Log fayllari
logs/
*.log

# Derijalar va kengaytirilgan fayllar
dist/
*.exe
*.msi
*.zip
*.tar.gz
